/* import font */
@import url('https://fonts.googleapis.com/css?family=Istok+Web');
@import url('https://fonts.googleapis.com/css?family=Inter');

/* Home CSS */
body {
    font-family: 'Istok Web';
    background: #232D3F;
}

.banner {
    width: 100%; 
    height: 481px; 
    left: 0px; 
    top: 0px; 
    position: absolute;
}

.menu {
    display: flex;
    justify-content: flex-start;
}

nav .home,
nav .movies,
nav .news {
    margin-left: 44px; 
    position: absolute; 
    color: white; 
    font-size: 25px; 
    font-weight: 400; 
    text-decoration: none;
}

nav .movies {
    margin-left: 202px; 
}


nav .news {
    margin-left: 377px; 
}

header {
    margin-top: 20px;
}

header .logo {
    margin-left: 645px;
    position: absolute;
}

.button a {
    display: flex;
}

a .login,
a .signup{
    width: 72px; 
    height: 29px; 
    background: #00E054; 
    border: none;
    position: absolute;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}

.login {
    margin-left: 1340px;
}

.signup {
    margin-left: 1420px;
}

.banner .content {
    color: #ffffff;
    position: absolute;
    bottom: 140px;
    left: 150px;
}

.banner .content span {
    font-family: Inter;
    color: white;
    margin-right: 200px;
    font-size: 40px;
}

.book {
    margin-top: 20px;
    width: 90px;
    height: 35px;
    font-weight: bold;
    font-size: 15px;
    background: #00E054; 
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.main p {
    padding-left: 100px; 
    margin-top: 500px; 
    color: white; 
    font-size: 32px; 
    font-family: Inter; 
    font-weight: 600;
}

.main img {
    width: 260px; 
    height: 400px;
    cursor: pointer;
}

.row1, .row2, .row3 {
    display: -moz-grid-line;
    margin-left: 113px; 
    margin-top: 10px;
    cursor: pointer;
}

.row2 {
    margin-left: 65px; 
    margin-top: 50px;
}

.row3 {
    margin-left: 65px; 
    margin-top: 50px;
}

.row1 img:hover,
.row2 img:hover,
.row3 img:hover {
    border-radius: 10px;
    border: solid 1px #00E054;
}

footer {
    width: 100%;
    height: 240px;
    margin-top: 100px;
    background: #2e3b53;
    color: white;
    display: -moz-grid-line;
}

footer .content {
    margin-left: 40px;
}

footer img {
    margin-top: 20px;
}
footer span {
    font-weight: bold;
    font-size: 20px;
    margin-left: 1180px;
    margin-top: 10px;
}

footer a {
    color: white;
    text-decoration: none;
    cursor: default;
}

/* button hover */

.login:hover, 
.signup:hover,
.book:hover,
.btn-login:hover,
.btn-signup:hover {
    background: #00b244;
}

/* Login Page CSS */
.banner-login {
    float: left;
    background-image: url('../img/Nuovo_Cinema_Paradiso.jpg');
    width: 900px;
    height: 730px;
    left: 0px;
    top: 0px;
}

.lg-logo {
    position: absolute;
    margin-left: 340px;
    margin-top: 600px;
}

.lg-content {
    color: white;
    float: inline-end;
    margin-right: 100px;
    margin-top: 100px;
    font-size: larger;
}

#name,
#password {
    background: transparent;
    padding: 15px;
    width: 400px;
    border: white solid 2px;
    border-radius: 10px;
    margin-top: 10px;
    color: white;
}

#name:focus,
#password:focus {
    outline: none;
    border: #00E054 solid 1px;
}

::-ms-reveal {
    filter: invert(100%);
}

.btn-login {
    margin-top: 35px;
    width: 100%;
    padding: 15px;
    color: white;
    background: #00E054;
    cursor: pointer;
    font-size: medium;
    font-family: Inter;
}

.btn-back {
    color: white;
    background: transparent;
    border: 0px;
    cursor: pointer;
    font-size:28px;
}